[2012-10-24 10:28] juanramb opened #1 "Syntax error in ruby 1.8.7"
There is a syntax error when using ruby 1.8.7:
ruby <<< "require 'rubygems' ; require 'smarter_csv'"
/opt/ruby-enterprise-1.8.7-2012.02/lib/ruby/site_ruby/1.8/rubygems/custom_require.rb:36:in `gem_original_require': /opt/ruby-enterprise-1.8.7-2012.02/lib/ruby/gems/1.8/gems/smarter_csv-1.0.4/lib/smarter_csv/smarter_csv.rb:76: empty symbol literal (SyntaxError)
...sh.delete(''); hash.delete(:"") # d

[2012-11-06 20:42] agaviria opened #2 "Feature Request: Date Parsing"
I've been playing with this gem and it seems quite useful.  However, is there any way to parse a date format? (e.g. mm/dd/yyyy)  It is currently converting it into a string that does not resemble a date. (e.g. \\\"$266\")

[2012-11-29 20:29] #1 closed, assigned to tilo

[2013-01-14 14:55] heldersilva opened #4 ""Wrong" parsing"
I think the line 72 of smarter_csv.rb is wrong. If you have a separator inside a quoted text it will split  the text incorrectly.

Maybe I'm seeing this wrong, but check the example below and see if what I'm saying makes any sense.

value, text, other_value
1,"sffdfd, sdfdfsf",3

the resulting Hash is going to be:

value => 1, text =>"\"sffdfd\"", other_value => "\"sdfdfsf\""

You can use this tes

[2013-02-26 12:09] anandvc opened #8 "Add to documentation: :strip_chars_from_headers => '"' for CSV files that have header values enclosed in quotes."
The :strip_chars_from_headers option is undocumented right now.

Add to documentation: :strip_chars_from_headers => '"' for CSV files that have values in headers enclosed in quotes.

[2013-04-04 20:01] #8 closed, assigned to tilo

[2013-05-20 02:58] #4 closed, assigned to tilo

[2013-05-29 23:53] tilo opened #12 "Bug: Trailing Empty Fields not correctly split off"
There is a bug with trailing columns which are empty, which don't get parsed correctly

The issue stems from the behavior of String#split

[code]

RTFM :) I need to provide a negative limit to #split to include trailing empty columns

see: http://ruby-doc.org/core-1.9.3/String.html#method-i-split
FIX:

[code]

See also: https://github.com/tilo/smarter_csv/commit/6220e0271098be1e9fad5fcf050bad848f7

[2013-06-01 20:44] #12 closed, assigned to tilo

[2013-06-16 23:01] grahamwetzler opened #13 "Negative integers and floats returned as strings"
`sample.csv`:

[code]

[code]

This seems like a bug to me.

[2013-06-19 23:48] #13 closed, assigned to tilo

[2013-07-15 09:35] Joenade opened #15 "See Also Link Not Working "/­~tilo/­Ruby/­process_csv_as_h­ashes.­html""
The website listed under the 'See Also' header is not loading for some time now.  I wanted to get a copy of some files, including the Perl Replace String script.  Could you please resolve the website issue or upload the script?

[2013-08-28 14:36] chadstachowicz opened #16 "smarter_csv never parses anything"
I have tried using smarter_csv with a myriad of csv files.  The hash is ALWAYS blank.

2.0.0p247 :026 > pets_by_owner = SmarterCSV.process('/Users/cstachowicz/Documents/mindsmesh/public/holder.csv')
 => []

csv contents..

CLASS,EMAIL,TEACHER,NAME
CHEM 1212,cstachow@uncc.edu,FALSE,Chad Stachowicz
CHEM 1212,cstachow@uncc.edu,FALSE,Chad Stachowicz
CHEM 1212,cstachow@uncc.edu,FALSE,Chad Stachowicz
CH

[2013-09-26 06:50] jrunning opened #18 "Rows not processed when `:remove_empty_hashes => true` and last row has only empty values"
Say you have a CSV file that has some rows with only empty values, e.g. `test.csv`:

[code]

If you call `SmarterCSV.process` with `:remove_empty_hashes => true` (which is the default) the line "7,8,9" won't be processed, i.e.:

[code]

As you can see the line `7,8,9` is never processed (this is true whether you pass `SmarterCSV.process` a block or not). However with `:remove_empty_hashes => false

[2013-09-28 02:38] #18 closed, assigned to nobody

[2013-11-01 03:38] bf4 opened #20 "License missing from gemspec"
RubyGems.org doesn't report a license for your gem.  This is because it is not specified in the [gemspec](http://docs.rubygems.org/read/chapter/20#license) of your last release.

via e.g.

[code]

Including a license in your gemspec is an easy way for rubygems.org and other tools to check how your gem is licensed.  As you can imagine, scanning your repository for a LICENSE file or parsing the READ

[2013-11-02 09:16] #20 closed, assigned to nobody

[2013-11-07 01:46] DaveSanders opened #21 "Way to ignore all non-mapped keys?"
First off, thanks for such a useful library.

Second, is there an option I'm missing to ignore any columns in the file if I did NOT map the key?

So, if there were 4 columns A,B,C,D and I only mapped A,C, then the chunk would only contain h[:a] and h[:c].

If not, then that'd be a definite useful feature, especially if you are importing the rows into a database where they blow up if fields are pre

[2013-11-07 15:52] pgieser opened #22 "Automatically handle different line endings"
Ruby's CSV parser provides an :auto option for the row separator.  Would it be possible to replicate this feature?

[2013-12-07 21:16] #21 closed, assigned to nobody

[2014-01-10 19:04] #16 closed, assigned to nobody

[2014-01-13 11:14] #22 closed, assigned to tilo

[2014-01-13 18:48] #15 closed, assigned to nobody

[2014-01-16 09:02] kaylucas opened #25 "Parse columns with :col_sep"
I'm trying to parse a CSV-file which has columns with special characters in them, most importantly the :col_sep (;).

When looking in my CSV-file I see all the fields with these special characters in them are escaped using quotation marks like this:

`1;another column;"this is a column with; the :col_sep character in it"';and yet another column`

SmarterCSV will end the column on this character ev

[2014-01-17 05:20] #25 closed, assigned to nobody

[2014-01-21 10:30] zethix opened #26 "Parse csv with quote char not properly excaped and commas in data"
I have a problem with parsing data that have quote char not properly escaped. Example row:

"AAA","BB,BB","CCCCC\\"CCC","DDDD\"DDD,DDD","\EEEEEE\"

I understand that I can use force_simple_split but my data also has commas inside so split would return errors. Is there anything I can do with smarter_csv to import my csv file without modyfing it before?

[2014-01-23 19:45] #26 closed, assigned to nobody

[2014-02-01 20:40] kaligrafy opened #27 "UTF-8 with BOM (character 65279 at file start)"
I was having weird problems when reading keys from a smarter_csv parsed csv file:
the first key was never recognize. After a long time I tought maybe the file had a special character in it and then: boom! i found the csv file was in UTF-8 with BOM, and there was a Unicode Character 'ZERO WIDTH NO-BREAK SPACE' (U+FEFF) (#65279) as the first character, so the first key always had this character at i

[2014-02-13 18:49] andrewsmhay opened #29 "Where are you getting the MyModel class from in example 4?"
MyModel.collection.insert( chunk )   # insert up to 100 records at a time

There is no mention in the README.md from where this originates. I thought it might be the mongo, mongodb, bson, bson_ext gems (or one of them).

[2014-02-13 23:58] #29 closed, assigned to nobody

[2014-02-15 14:20] cathal opened #30 "Preserve Leading Zeros"
I am working with third party data that has reference codes containing numbers and letters. In cases where the code has no letters and starts with one or more zeros, Smarter CSV is converting the field to a number (I'm guessing that is what is happening) and we lose the leading zeros.

The length of the reference code is not fixed so cannot reliably reconstruct the reference code with leading zero

[2014-02-16 00:32] #30 closed, assigned to nobody

[2014-03-13 11:57] taemon1337 opened #32 "Feature Request: Processing callback"
One thing I'm starting to see a need for (at least for my stuff) is a callback function for each csv row.

For example, say you are reading chunks of a large CSV and need to insert an additional key/value(s), like this:
<code>
  SmarterCSV.process file, options, do |rows|
    rows = rows.map { |row| row[:_special_id] = spec_id }
    send_rows_in_bulk_somewhere( rows )
  end
</code>

this processes

[2014-03-21 00:12] rept opened #33 "Processing files uploaded with file_field_tag"
Hi,

Thanks for the gem, works great.  I have one problem however when trying to process uploaded files.

I have this in my haml:
  = file_field_tag :file_categories

and afterwards I want to process that file.

I tried with:
clients_data = params[:file_categories].read
SmarterCSV.process(clients_data, ...

But I'm getting File name too long - "#","CA_ID","CA_Desc"

I searched all over the net but

[2014-03-23 04:03] diasks2 opened #34 "Ruby 2.1.1 support?"
Hi Tilo, great gem. I am really looking forward to using it. However, I am having some trouble getting it to work. When I try to process a test CSV file I keep getting an empty array. I tested that I was pointing to the correct file as I am able to open the file and read it. Any idea what I might be doing wrong?

[code]

[2014-03-24 08:04] #34 closed, assigned to nobody

[2014-08-08 18:56] DerekF35 opened #38 ":strings_as_keys downcasing all keys"
Is there a way to maintain the case of the key in a string when using the :strings_as_keys option?

[2014-08-08 18:58] #38 closed, assigned to nobody

[2014-08-20 16:36] tony-kerz opened #39 "question: long hang time opening larger files?"
i'm using something like this to initiate the processing of a file and it seems to be hanging proportionately long in relationship to the file size. for instance, a 100k line file may take 2 minutes to get past this line while a 200k line file may take 4 minutes. any suggestions as to where to start troubleshooting?

[code]

[2014-08-21 17:03] davidlesches opened #40 "Not working will all CSV files"
Hey

Just wanted to let you know I've been trying this with a bunch of bank statements. It works for some files, but others just return a blank array, and sometimes it gives a 'MalformedCSVError: Unquoted fields do not allow \r or \n (line 1)'.

The standard CSV library is parsing those files without issue.

I'm not sure why this is happening.

I can email you samples if you wish.

[2014-10-28 04:11] #40 closed, assigned to nobody

[2014-10-28 09:54] bleuse opened #41 "Feature Request: Custom converters"
SmarterCSV definitely is a nice library to parse .csv files. A feature I am missing is a way of defining custom converters for some columns.
This can be seen as an extension of the `:convert_values_to_numeric` option. I am thinking of an option `:converters` that would take the list of converters to apply to which fields. This is similar to what the built-in CSV proposes but a bit different as it

[2014-10-29 06:14] #39 closed, assigned to nobody

[2014-11-12 00:04] yuri-karpovich opened #42 "How can I clear RAM after SmarterCSV.process"
I'm parsing very big csv files (~500mb) one by one in the loop. How can I clear RAM after I finished with file parsing?

[2014-11-15 17:04] #42 closed, assigned to nobody

[2014-11-29 20:41] #33 closed, assigned to nobody

[2014-12-02 18:22] netwire88 opened #43 "Typical performance for parsing?"
What's the typical performance for parsing we should expect? I'm currently parsing rows in chunks of 3,000 rows but it's taking about 25-30 seconds (without inserting into database). Is that expected?

So 1,000,000 rows should be about 166 minutes (or almost 3 hours) before any database inserts/updates are taken into account?

[2014-12-02 18:38] agarie opened #44 "Allow smarter_csv to output CSV"
Thanks for this wonderful library, I've been using it daily for a couple of weeks! The only problem so far is that it doesn't support writing CSV files. Are you interested in a pull request regarding this feature or is it something you definitely don't want in the library?

Thanks for your time.

[2014-12-06 14:48] v0dro opened #45 "Accessing data by columns?"
Is it possible to access data parsed from a CSV file as columns?

[2014-12-10 23:48] #45 closed, assigned to nobody

[2015-01-21 19:02] feens opened #47 "Improper logic in guess_line_ending code"
I noticed that the :auto line-ending function wasn't properly detecting \r\n endings, so I took a look at the code.

Here's the line that caught my attention:
next if quoted_char || c !~ /\r|\n|\r\n/

The whole block will never figure out "\r\n" because it's going through and looking for a "\r", "\n" or "\r\n" character, the problem being that "\r\n" is 2 characters.

We've worked around this for

[2015-01-28 16:09] tilo commented on #47
pull request welcome!

[2015-02-18 05:02] dtrce opened #50 "Prevent from removing leading 0"
I have a CSV which a field that's a number starting with 0. It seems SmarterCSV is stripping out the leading 0.

How can I tell it to treat it as string?

[2015-02-20 07:08] tilo commented on #50
` :convert_values_to_numeric => false  `  will do the trick

[2015-02-20 07:08] #50 closed

[2015-03-03 22:52] mauriciopasquier commented on #41
Any updates on this feature? I'm not familiar with smarter_csv code (I'm analizing it for a project) but it would be perfect for my use case :)

[2015-03-06 12:40] jbschrades opened #51 "Mapping keys to nested attributes?"
Are nested attributes supported in key_mapping?  I've tried several different ways but cannot get it to work. For instance, the following does not put the customer_attributes in the hash after SmarterCSV processing:

[code]

[2015-03-19 05:16] tilo commented on #51
I'm not sure what you are trying to accomplish here..

`key_mapping` is a way to tell SmarterCSV how to map existing column names in a CSV file
into different strings or symbols you want to use instead of those column names.

[2015-03-19 05:16] #51 closed

[2015-03-23 20:47] agarie opened #56 "Simplify the creation of CSV-handling CLI apps"
I'm writing lots of small programs in my current job for cleaning CSV data (dozens of services export CSV files in dozens of different ways...). Most of them require both CSV (for output) and SmarterCSV (for input) and map some operation in one or more columns, generating new ones.

It would be great if we could add some sort of functionality to SmarterCSV that simplified this process. For example

[2015-03-25 21:23] tilo commented on #56
thanks @agarie. I'll think about it

[2015-04-13 19:38] toobulkeh commented on #41
:+1:

Some of my use cases:
1 Combining two fields into one:
[code]
2 Data Manipulation
[code]

3 Conditional Fields
[code]

[2015-04-13 19:40] toobulkeh commented on #43
That's probably completely dependent on your hardware. Though it would be nice to see a baseline for comparison between CSV tools (vanilla CSV, FasterCSV, SmarterCSV) https://www.ruby-toolbox.com/categories/CSV_Parsers

[2015-04-13 19:44] toobulkeh commented on #43
Here's a 2007 report on the topic (showing useful benchmarking techniques):
http://blog.evanweaver.com/2007/09/29/not-invented-here/

[2015-04-15 13:35] agarie commented on #41
This feature would be really neat. I don't have a lot of time right now, but if no one tackles it in the next weeks, I might be able to provide a pull request. :tada:

[2015-04-18 02:19] xufeiyun opened #58 "Skip real comments before header"
my csv file may look like follows:

\# this is the comment line for csv file
\# this is also the meaningful lines for csv file
\# here shows the each field descriptions:
\# name: full name, code: like identity card no, mobile: telephone or mobile phone no
\# now below is the header WITHOUT # starts
name,code,mobile
eric,a001,10086

so what I want to do is that smarter csv should skip all those ite

[2015-04-20 01:10] xufeiyun commented on #2
Why does this request not implemented for a long period?
I think it will also be ok if #41 is released, thus user is able to handle the parser by himself temporary.

[2015-05-09 20:53] netwire88 opened #59 "end of file reached"
Hi,
For some CSV files, I'm getting `end of file reached` when reading CSV file. Has anyone seen this error before?

[code]

[2015-05-11 13:54] agarie commented on #59
Can you post an example of a CSV file with this problem? This way we can reproduce the error and iterate on it.

[2015-05-15 18:48] supremebeing7 commented on #59
I get this error as well, and so far it seems to only happen when the CSV file is blank. Is there a way to control for this, other than rescuing this error in my app?

[2015-05-25 22:55] xjlin0 commented on #43
Smarter_csv is fabulous!!
I am hoping smarter_csv can start slice chunck without reading the entire csv file into the memory.  The ruby original CSV.each will read the entire csv file, but CSV.foreach only read line by line without reading the entire file.  In such way CSV.foreach can start much quicker and take less memory for huge csv files.  It'd be really cool if SmarterCSV.process can also do

[2015-05-25 23:19] xjlin0 commented on #43
Smarter_csv is a great gem! Save me ton's of time by parallel processing.

One possible improvement I am hoping here, is to let smarter_csv sending out the chunk before finishing reading the entire files.  Smarter_csv use readline to read each line, smartly avoiding reading the entire csv files into memory.  However the it seems  cannot sending chunk out before finishing the entire csv files.

[2015-06-02 13:20] bcackerman opened #61 "New lines in CSV file"
[code]

I have some users importing CSV files which have new lines & formatting in the cells.  This messes up the parsing `smarter_csv` does.  Any tips or is this a bug?

[2015-06-14 22:38] rubyguy opened #62 "Feature Request: Start and End Row / Offset?"
Hi , thanks for this nice intelligent parser. However, one feature that I would love to see is Start Row & off set combination which will make parsing specific parts of CSV very easy.

[2015-06-21 19:05] tilo commented on #58
Hi Eric,
I don't understand your question.

if you want to ignore the comments, you can just set `{ :comment_regexp  =>   /^#/ }` , and SmarterCSV will ignore the comments.

[2015-06-21 19:08] tilo commented on #61
this looks like your CSV files might be invalid.

You may want to examine your CSV files and check if there is a specific character sequence you can use as :row_sep -- or you might want to try `{:row_sep => :auto}` in the options

[2015-06-22 14:17] bcackerman commented on #61
Ended up going back to using Ruby's CSV library and things worked again. Thanks though!

[2015-07-08 12:46] innhyu opened #64 ":headers_in_file option does not work"
Hi, this seems to happen for all csv files..
Files that are run with :headers_in_file => false
seems to fail with the exact same error every time.

NoMethodError: undefined method `map!' for nil:NilClass
	from /Users/innhyu/.rvm/gems/ruby-2.1.6/gems/smarter_csv-1.0.19/lib/smarter_csv/smarter_csv.rb:64:in `process'
	from (irb):1
	from /Users/innhyu/.rvm/gems/ruby-2.1.6/gems/railties-4.1.8/lib/rails

[2015-07-10 18:32] pablocrivella commented on #64
+1

[2015-07-15 04:17] netwire88 commented on #59
Unfortunately I can't provide the CSV file due to privacy reasons, but here's my code. Any suggestions?

[code]

[2015-07-17 00:20] chrisnicola commented on #61
It isn't invalid the new line is in a quoted string.

[2015-07-26 00:50] tilo commented on #64
If you set `:headers_in_file => false` , you MUST provide an array of `user_provided_headers`,
e.g. `options = {:headers_in_file => false, :user_provided_headers => [:a,:b,:c,:d,:e,:f]}`

[code]

[2015-07-26 00:56] tilo commented on #64
will add an error message, complaining about missing option :user_provided_headers in the next version

[2015-07-26 00:56] #64 closed

[2015-07-26 19:15] tilo commented on #59
might be because you're unzip-ing the file.

reading from a file handle definitely works - this code works for me:

[code]

[2015-07-26 19:27] tilo commented on #59
could this be caused by un-balanced quotes or double-quotes in your CSV file?

[2015-07-27 01:20] tilo commented on #47
thanks for letting me know! this was introduced by someone else's PR. it's fixed in 1.1.0

[2015-07-27 01:21] #47 closed

[2015-07-27 01:44] tilo commented on #58
Eric, this is a non-issue, because this is exactly what `{ :comment_regexp => /^#/ }` is supposed to do!

[2015-07-27 01:44] #58 closed

[2015-07-27 02:05] tilo commented on #41
implemented in 1.1.0

[2015-07-27 02:05] #41 closed

[2015-07-27 02:06] tilo commented on #2
was too busy at work  :P

implemented in 1.1.0

[2015-07-27 02:06] #2 closed

[2015-07-27 02:06] toobulkeh commented on #41
:+1:  just in time for our next release. Perfect, thanks!

[2015-07-27 03:06] tilo commented on #43
good point @xjlin0 !! Will look into that!

[2015-07-27 16:10] tilo commented on #43
check out this blog post by @xjlin0 : http://t.co/SlyBpfnSUV

[2015-07-27 16:10] #43 closed

[2015-07-28 21:31] tilo commented on #41
@toobulkeh let me know how this implementation works for you.

I was debating if the converters should be provided by a custom class or by specifying a lambda

[2015-07-28 21:35] tilo commented on #61
Will need to think of how to best fix/address this, and keep the parsing fast.
Never saw new lines in CSV fields before

[2015-07-28 21:36] tilo commented on #59
@netwire88 @agarie ping! can you provide an example, perhaps a gist with a file and code which loads it which reproduces the problem?

could this be caused by un-balanced quotes or double-quotes in your CSV file?

[2015-07-28 21:37] tilo commented on #56
I agree it would be great to have a command line tool! will try to cook something up. in 1.2.0 perhaps

[2015-07-28 21:39] tilo opened #66 "Feature Request: improve parallel processing"
@xjlin0 commented on May 25

Smarter_csv is a great gem! Save me ton's of time by parallel processing.

One possible improvement I am hoping here, is to let smarter_csv sending out the chunks before finishing reading the entire files. Smarter_csv use readline to read csv files, smartly avoiding reading the entire csv files into memory. However the it seems cannot sending chunks out before finishin

[2015-07-28 21:41] tilo opened #67 "Feature Request: do not modify headers by default"
change defaults, so that headers are not modified by default, and provide a way to keep backwards compatibility
- changed default behavior of #parse method to not modify the existing headers in the CSV-file,
  unless explicitly requested. For backwards-compatibility please use these options:

To continue to use the old defaults, do this:

[code]

[2015-07-29 17:42] chrisnicola commented on #61
@tilo technically any string could be valid inside quotes afaik, and escaped quotes are represented by a double-quote.

https://en.wikipedia.org/wiki/Comma-separated_values#General_functionality

Perhaps allow the library to be configured to sacrifice speed vs. parsing robustness. I agree that most CSVs should not need this feature.

[2015-07-29 17:42] chrisnicola commented on #61
If it matters I've noticed the built in Ruby CSV library also seems to fail to handle this properly even thought it seems like it should. I've been debating opening a bug for that as well.

[2015-08-03 04:12] tilo commented on #21
@netwire88 in that case, you would have to provide user_defined_headers and then can map the unwanted field to nil

[2015-08-04 21:32] cawel commented on #59
I also had this issue of `EOFError`, coupled with:
[code]
My input file has a special character (`^A`, ascii #1) to separate columns. And as such, I really don't care about escaping. So I specified `quote_char: ''` in the `process` method and it worked fine.

[2015-08-05 00:12] tilo commented on #59
ahh.. looks like iTunes dump format :)

[2015-08-05 19:50] cawel commented on #59
Let's just say it does indeed have some similarities ;)

[2015-08-07 20:30] tilo commented on #59
lol :)

[2015-08-14 13:20] MartinB83 opened #68 "undefined method `map!' for nil:NilClass when headers_in_file: false"
``codes_hash = SmarterCSV.process(params[:file].path, {headers_in_file: false})``

Plots an error for me:

*undefined method `map!' for nil:NilClass*

File path is correct. When removing that option file parsing works.

[2015-08-14 13:22] MartinB83 commented on #68
Sorry duplicate: https://github.com/tilo/smarter_csv/issues/64

[2015-08-14 13:22] #68 closed

[2015-08-18 19:47] netwire88 commented on #64
If I have a header in a file, and I want to skip the header and provide my own list of `user_provided_headers`, how should I configure options? I tried it with `headers_in_file: false` but it complained the number of headers in file didn't match the number of headers provided.

[2015-08-18 20:03] netwire88 commented on #59
I also had the `line contains uneven number of quote chars so including content of next line` error only after processing in `verbose` mode. I used these options `force_simple_split: true, verbose: true, quote_char: '', strip_chars_from_headers: /[\-"]/` and now it's working. Very odd. Is there a way to skip headers but still provide custom headers?

[2015-11-09 23:28] rascal-hats opened #69 "NoMethodError Exception: undefined method `parse' for <filepath>"
CSV.parse failes on line 106 of lib/smarter_csv/smarter_csv.rb, specifically:

https://github.com/tilo/smarter_csv/blob/0b4a1fccee56ad2535d6ea6755c82c12c9afd459/lib/smarter_csv/smarter_csv.rb#L106

Testing under byebug shows that it's only the following code that's failing, and in an interesting way: `CSV.parse( line, csv_options )`

using the raw values of line and csv_options will work as expect

[2015-11-10 22:22] rascal-hats commented on #69
I want everyone to know this isn't a bug anywhere; and that I'm the biggest dolt ever.

I had, in my idiot delirium, decided it was a good idea to create a constant variable, `CSV`

So of course it wasn't going to work when I called `.parse` on it.

I'm so sorry to anyone who may have spent more than even 2 seconds on this problem.

[2015-11-10 22:22] #69 closed

[2015-11-11 22:13] colinpetruno opened #70 "quote_char has no effect"
When quote_char is placed in the regex it does not get evaluated since its not wrapped in `#{}` and thus has no effect. Let me know if I'm doing something wrong and if not I can make a PR for it.

https://github.com/tilo/smarter_csv/blob/834ed51d1c60fa8ae5eaf603c7c5cf626d765b85/lib/smarter_csv/smarter_csv.rb#L110

![image](https://cloud.githubusercontent.com/assets/1508945/11104501/1efc9412-8897-1

[2015-11-12 01:57] colinpetruno commented on #70
I resolved my issue but found that a few gsubs in the file aren't needed. It may be worth it to remove to perform calling maps on every row of the file that won't affect the result.

I opened pr #71 for feedback.

[2015-11-12 01:58] #70 closed

[2016-01-03 18:21] webattitude commented on #61
+1

[2016-02-04 07:10] Nitin-Salunke opened #76 "ArgumentError: invalid byte sequence in UTF-8"
I get the exception **ArgumentError: invalid byte sequence in UTF-8** when I try to process a CSV.
Is there some way to deal with it in smarter CSV ? or I have to filter out the invalid byte sequence first and then process it with smarter CSV ?

[2016-02-12 20:18] chrisnicola commented on #61
Any more thoughts or progress on this? I'm willing to attempt a pull request if no one else has time.

[2016-02-25 00:48] KevinColemanInc commented on #59
for future people, I had the same error, but the reason was because I was passing in a File and calling process twice.  If you call it a second time, the `File.read` returns an empty string, thus causing the error.

reload the file if you need to run parsing on the same file object twice

[2016-04-04 07:00] 31piy opened #78 "Stream is not closed"
I have a case in which:
1. I have 10 zip files, each containing some csv files.
2. For each zip file, I will make a temp folder and extract the contents to that folder.
3. For each csv file in temp folder, I use SmarterCSV to parse its contents.
4. I delete the temp folder after a zip file has been processed completely.

The issue is, when I try to delete that folder using `FileUtils.remove_entry_

[2016-04-12 06:56] 31piy commented on #59
I had a similar issue. My CSV file contained some binary characters. As soon as the library started to parse the file, it stopped the line containing binary characters. On further analysis, I found that the loop `while !f.eof?` was being terminated because it thought that end of file was reached.

For now, I had manually solved this problem by adding a `b` when opening a file, so that the file ope

[2016-05-05 08:16] xenover opened #81 "CSV::IllegalFormatError thrown when parsing CSV with double quotes around column names and values"
Hello!

Basically the title. I was trying to parse a file that is using double quotes and the quote character i.e.

"column1","column2"
"value1","value2"

but it kept throwing the CSV::IllegalFormatError.

I also tried using CSV.parse without the :quote_char parameter and that works fine.

Using OSX 10.11.4 on Macbook Pro Retina 13" Early 2013 and Ruby 1.8.7 (Rails 2.3.18).

Thanks!

[2016-06-11 02:31] jbittencourt commented on #61
+1

[2016-06-17 20:27] benalavi commented on #59
I had this issue and narrowed it down to a a single `"` quote in my CSV file. The message `line contains uneven number of quote chars so including content of next line` then makes sense with the `EOFError` as I assume it parsed the rest of the file looking to balance the quote and then ran out of file.

To fix I can change the quote char but to avoid confusion maybe it should catch EOF when trying

[2016-07-26 13:55] damenez commented on #76
Also having the same issue above...Kindly share if you have a fix. Thank you!

[2016-07-29 06:21] Nitin-Salunke commented on #76
@damenez I had to clean the entire file before processing it, did not find a better solution to fix it.

[2016-09-22 16:41] Shwetakale commented on #76
@Nitin-Salunke @damenez I had also came to similar issue. I will check how to fix this in gem but instead of fixing rows manually I just wrote code which will tell me about bad rows by using following snippet

      handler = open(suppression_file)
      csv_string = handler.read.encode!("UTF-8", "utf-8", invalid: :replace, replace: 'bad encoded row')
      data = CSV.parse(csv_string, {headers: t

[2016-09-30 06:43] tabunmuri commented on #78
👍

[2016-10-26 20:48] armahillo opened #84 "Documentation should illustrate use-case of key mappings + value converters"
Spent 2 hours pulling my hair out over this, thinking the error was caused by something else.

If you are using mappings AND value converters, the value converters hash should be keyed based on the MAPPED field name, NOT the CSV header field name.

For example, if your CSV has headers of "name, age" and you do

`:key_mapping => { :name => :full_name, :age => :age }`

and you want to have the :name

[2016-11-26 21:28] tilo commented on #84
Thank you! Updated doc.

[2016-11-26 21:28] #84 closed

[2016-11-26 22:42] tilo commented on #78
1.1.1 should fix this

[2016-11-26 22:42] #78 closed

[2016-11-26 22:43] tilo commented on #76
1.1.1 should fix this - you can now force-encode to UTF-8

1.1.1 is replacing invalid UTF-8 sequences with ''

[2016-11-26 22:43] #76 closed

[2016-11-28 09:29] tilo commented on #62
version 1.1.1 added an option to skip_lines at the beginning of the CSV file

[2016-11-28 09:29] #62 closed

[2016-12-03 00:16] larquin opened #87 "Feature Request: Allow SmarterCSV to accept a CSV string loaded in memory."
In the case of managing CSV data in environments with ephemeral file systems, would it make sense to allow for an option to load the CSV into memory?

The standard ruby CSV library allows for in memory parsing of CSV files, but SmarterCSV only seems to allow for a file input. I'd like to be able to leverage all of the nice options available with SmarterCSV, even when I don't have the luxury of bei

[2016-12-15 08:13] tilo commented on #87
I'll look into it - pull requests are always welcome

[2016-12-15 21:51] tilo opened #88 "UTF-8 / Discrepancy between opening a File and opening a StringIO object"
Thanks to KevinColemanInc for this one:

open(url_of_csv_file, ‘r’) returns a StringIO object with the external encoding of ASCII-8BIT, but open(file_path, ‘r’) returns a StringIO object with external encoding of UTF-8.  it worked locally, because uploads got to disk, not s3.  It is a remote file loading vs local file loading issue.

open(url_of_csv_file, ‘r:UTF-8’) forces everything to be UTF-8 a

[2016-12-15 21:52] tilo commented on #88
this is slated for the next release

[2016-12-22 23:54] tilo commented on #88
- ASCII-8BIT is an alias for BINARY
- open-uri does a funny thing: if the file is less than 10kb (or something like that), it returns a String and if it's bigger then it returns a StringIO. That can be confusing if you're trying to deal with encoding issues.

A good way to deal with this is to use the ensure-encoding gem, which allows a lot of flexibility on how to deal with invalid characters:

h

[2016-12-30 06:02] tilo commented on #88
smarter_csv 1.1.3 now issues a warning if input was not properly opened as r:utf-8

we might want to raise an error in this case in the future

[2016-12-30 06:02] #88 closed

[2017-01-03 03:56] wtfiwtz commented on #87
Why don't you use `StringIO`? Unfortunately this sort of thing isn't very efficient with memory... but I am already using this in production today (with SmarterCSV).

[2017-01-09 21:13] tilo commented on #87
generally it is not a good idea to try to hold the CSV data in memory - if the CSV file is large, then you just end up allocating a lot of memory which is not really needed all at once - it is more efficient to read in the file on the fiy, or in chunks.

[2017-01-10 04:55] larquin commented on #87
Sure, but if you're managing those chunks yourself,  it seems doable. Ultimately using `StringIO` for my purposes seems to make a lot of sense, so I'm closing this one. Thanks!

[2017-01-10 04:55] #87 closed

[2017-01-10 13:43] tirdadc opened #89 "UTF-8 processing no longer works following 1.1.3 upgrade"
Here's my CSV (saved as a UTF-8 file):

[code]

This works fine with 1.1.1 using:

[code]

I upgraded to 1.1.3 and it seems to be treating all unicode characters as invalid and stripping them out. I tried setting the `force_utf8` option to `true`, but that didn't help.

I also did try the code snippet below without any success:

[code]

[2017-01-16 23:54] tilo commented on #89
confirmed! It broke in 1.1.2

Looking into a fix

[2017-01-17 01:45] tilo commented on #89
Fixed in 1.1.4

[2017-01-17 01:45] #89 closed

[2017-01-20 00:21] tilo commented on #81
I think this should be working in 1.1.4

[2017-01-29 20:12] katiemccann opened #90 "ERROR -- : end of file reached (EOFError) with some CSV files"
Using 1.1.4, I'm getting an EOFError on some .csv files. I've attached an example (had to zip it as github won't accept a csv attachment).[linkedin_test.csv.zip](https://github.com/tilo/smarter_csv/files/737781/linkedin_test.csv.zip)

Error looks like:
[2017-01-28T14:02:39.334602 #41155] ERROR -- : end of file reached (EOFError)
/Users/katiemccann/.rvm/gems/ruby-2.3.1/gems/smarter_csv-1.1.4/lib/sm

[2017-02-28 18:01] vmvwebworks opened #91 "rake aborted! NoMethodError: undefined method `close' for nil:NilClass"
I created a rake task for import a csv with smarter_csv gem.

Throws the following message:
[code]
Debugger returns that the issue comes for the line with
`SmarterCSV.process(filename, options) do |array|`
Not a model issue cause also happen just trying to print
This is the code on the rake task:

[code]
 Also i posted the issue here:
http://stackoverflow.com/questions/42515043/unable-to-run-rake-

[2017-03-02 10:32] vmvwebworks commented on #91
**Solved**, route issue. Just add a dot before.

 `'./csv_imports/file.csv'`

[2017-03-26 19:05] febilva commented on #45
@tilo how can i access specific column values

[2017-03-29 20:39] tilo opened #97 "better support for flagging problematic data / rows"
e.g. using SmarterLogging , or other means

[2017-04-02 02:48] noma4i commented on #90
possible issue with quotes. For me it was solved by adding `quote_char: "'"`

[2017-04-03 15:06] katiemccann commented on #90
Unfortunately, the quot_char is not my issue.

[2017-04-07 12:48] RST-J opened #98 "Key mapping with procs?!"
Hi,
I quite wasted some time now until I finally started to look into the code - surprisingly this quickly helps ...

For what its worth, I s a hash which maps headers from the CSV file to keys in the result hash       truggled with key mapping. In the docs key mapping is explained like this:

To my not least surprise, this is not happening - at least to how I intuitively interpreted 'header from

[2017-05-02 19:11] tilo commented on #98
Thank you for the feedback, RST-J ! Very valuable! I'll look into that, and will also look at improving the README.

[2017-05-02 19:12] #91 closed

[2017-05-02 19:15] tilo commented on #90
Hey @katiemccann is  `row_sep`  set correctly?
Another issue could be non-escaped or incorrectly nested quote characters.

It would be best if  you could provide a minimal CSV file which reproduces the problem

[2017-05-02 19:20] tilo commented on #81
@xenover can you try with the latest version of smarter_csv ?

[2017-05-02 19:33] katiemccann commented on #90
Hi @tilo, The file is attached to my original post (linkedin_test.csv.zip). It's not an issue with row_sup or any other characters in the file. I can explain in more detail the steps to reproduce this:

1. Download a file of my contacts from LinkedIn: https://www.linkedin.com/addressBookExport (saving as Microsoft Outlook .csv format)
2. The original file saved in step 1 imports just fine.
3. Open

[2017-05-03 22:44] tilo commented on #90
downloading the contacts doesn't seem to work for me - can you provide a sample file?

[2017-05-03 22:46] katiemccann commented on #90
It's in my original post, can you not access it?

[2017-05-04 04:35] tilo commented on #90
I downloaded the file, but it still worked after saving it with TextEdit

[2017-05-10 16:56] k-akarsh opened #99 "strip_chars_from_headers options not removing pipe character (|) from header"
Entering the regex  /[|öäüß\/\(\)\-.%]/ for :strip_chars_from_headers option is working for all characters except the pipe character (|).
The field in the header of the csv is:  No. | Sku No. where the pipe character is not getting removed.
The regex works for this in plain ruby.

[2017-05-16 17:27] katiemccann commented on #90
You can parse that exact file without the EOFError? What params are you passing into the process method? I'm attempting to parse it as:  SmarterCSV.process(filename, {:verbose => true, :force_utf8 =>true, :key_mapping => {:e_mail_address => :email}})

[2017-05-17 16:55] Joshhaws commented on #33
Thank you! I had the same problem.

[2017-05-24 11:55] lluis opened #101 "load csv as Array"
Can a CSV be loaded as an Array instead of a Hash?

so this csv:

    First Name,Last Name,Dogs,Cats,Birds,Fish
    Dan,McAllister,2,0,,
    Lucy,Laweless,,5,0,
    ,,,,,
    Miles,O'Brian,0,0,0,21
    Nancy,Homes,2,0,1,
    Hernán,Curaçon,3,0,0,
    ,,,,,

is loaded as this Array:

    [
      ["First Name", "Last Name", "Dogs", "Cats", "Birds", "Fish"],
      ["Dan", "McAllister", "2", "0"],

[2017-05-31 12:18] shivabhusal opened #103 "invalid byte sequence in UTF-8 (ArgumentError)"
[code]

Setting breakpoints

[code]

[2017-06-13 15:48] tilo commented on #101
`smarter_csv` was specifically designed to load records as hashes, so the data can be consumed more easily.

[2017-06-13 15:48] #101 closed

[2017-06-13 15:51] tilo commented on #99
when I cut+paste the code for your regular expression, it looks like it's all Unicode.
Make sure your `|` character is ASCII encoded, not Unicode.

[2017-06-13 15:58] #99 closed

[2017-06-14 23:26] contentfree commented on #103
Similar bug happens in 1.1.4. At line 42, the `f.readline` blows up because of the invalid byte sequence. It doesn't reach the next line where it tries to force/fix the encoding. What do?

[2017-06-14 23:27] contentfree commented on #103
The same pattern exists at line 102. The `f.readline` blows up before even getting a change to force encoding.

[2017-07-12 04:04] duongnv-0312 opened #105 "Encoding::UndefinedConversionError: "\x87V" from Shift_JIS to UTF-8 issuse"
I get the exception
 **Encoding::UndefinedConversionError: "\x87V" from Shift_JIS to UTF-8 issuse**
`from ../smarter_csv.rb:254:in `each_char'`.
 when I try to process CSV with encoding SHIFT_JS.
I try to filter out the invalid byte sequence first and then process it with smarter CSV but ...
[code]
How can I fix it?
Thanks in advance.

[2017-08-08 13:36] mhi20 opened #106 "not strip whitespace in column"
This Initialize Class SmarterCSV :
data = SmarterCSV.process(file,strip_whitespace:true)
output :
{:﻿ f_name=>"test1", :l_name=>"test2"}
problem here:
whitespace in ": f_name"
without utf8 character is :
{:"\xEF\xBB\xBFf_name"=>blah blah}
problem just is  one part in record but other parts do worked !
example :
student[:f_name] => nil
but
student[:l_name]=> blah blah
Can anyone help me ?

[2017-08-08 18:01] lastobelus opened #107 "suggestion for handling unbalanced quotes?"
I have to parse a file that has lines like:

        "10852",".000000000","024589108520","Yes","1.75"CYL"

I've tried using the `force_simple_split`, but then I run into the unbalanced quotes -> EOF issue.

I can't just preprocess the whole file (its an http stream to large to fit into memory). Or maybe there's a way I could using a `lazy` enumerator on `open`?

Is there a way to either:

* skip m

[2017-08-08 19:37] lastobelus commented on #107
looking at code I realized doing a line preprocessor was as easy as wrapping the readline method of the IO object:

[code]

since I didn't need the last column for my purpose, my preprocessor just discards it with a regex

[2017-08-08 19:37] #107 closed

[2017-09-06 00:28] coryrmathis commented on #103
Has anyone found a workaround to this.  My client often tries to import CSV files that are in a Windows encoding and this bug makes things very complicated.

[2017-09-26 13:47] saroar opened #109 "Upload CSV file"
Can I upload only CSV file like as image file we uploading
I need upload CSV file and save it that all if it possible with this gem?

[2017-10-18 07:12] jamescook000 opened #110 "When using :user_provided_headers and the first line of the csv is a comment it fails"
Hi,

When trying to supply csv headers using 'user_provided_headers' it fails if the first line of the csv file is a comment. If the comment is anywhere else in the csv file is functions as per normal. I have tried also specifying 'comment_regexp' to be '^#' however this still does not work.

**Environment** details

Ruby 2.4.0
Gem Version 1.1.4

**CSV Example (ie /tmp/csvfile.csv):**

\# This is

[2017-10-18 07:44] jamescook000 commented on #110
This is not an issue as I needed to specify ':header_in_file => false' in this situation and it processes as per normal with the comment in the first line.

[2017-10-18 07:44] #110 closed

[2017-10-25 03:25] ttyrueiwoqp opened #111 "Feature Request: an option to deal with duplicated header"
Hi,

Thanks for the great library!

One issue we have been facing is that we have headers generated dynamically and there can be duplicates. In extensions/hash.rb, it assumes headers are unique by using `to_h`. Is it possible to add an option, e.g. `preserve_duplicated_headers`, which uses a function like below:
[code]
[Here](https://stackoverflow.com/questions/30423632/preserving-key-value-pairs-

[2017-11-06 02:35] tilo commented on #103
fixed in 1.1.5

[2017-11-06 02:35] #103 closed

[2017-11-06 02:38] tilo commented on #111
Seems like a rare corner case to me.
Shouldn't there be a warning instead, just informing you to fix your headers before importing?

[2017-11-06 02:42] tilo commented on #109
you need to use Carrierwave with a custom post-processor

https://stackoverflow.com/questions/11852605/how-can-i-make-a-custom-carrierwave-post-processor/27769269#27769269

[2017-11-06 02:42] #109 closed

[2017-11-06 02:43] tilo commented on #106
try to use version 1.1.5

[2017-11-06 02:43] #106 closed

[2017-11-06 02:43] tilo commented on #105
can you try it with version 1.1.5 ?

[2017-11-20 08:33] ttyrueiwoqp commented on #111
Yup it's not a common case. Currently the workaround that I can think of is, to postfix the header with an index while exporting to make headers unique, and then remove the index while importing. The tricky part is there's no way to distinguish whether the index is a postfix or a part of the original header, but I think I can live with that. Thanks!

[2018-01-04 22:38] enviable opened #115 "A field with 'options_trader' is truncated to 'trader'"
Any field that matches 'options' and then any of the set [:quote_char] is truncated from the field due to the improper interpolation.
Correcting the interpolation causes the quotation tests to fail.

PR #71 removes the broken lines as @colinpetruno tested them and found them to be unnecessary.
Here's a fork with the [failing test](https://github.com/enviable/smarter_csv/tree/line_containing_option

[2018-01-05 19:04] Quintasan opened #116 "Can't parse a CSV exported by MariaDB"
I exported some of my WordPress posts from MariaDB console using
[code]
Resulting file: [wp_posts.txt](https://github.com/tilo/smarter_csv/files/1607601/wp_posts.txt)

I tried processing it using SmarterCSV

[code]

What am I doing wrong? Is the CSV malformed or not?

[2018-01-18 23:36] katiemccann commented on #90
FYI the latest updates from a couple of months ago have solved this issue for me, so will close it. Thanks!

[2018-01-18 23:36] #90 closed

[2018-01-19 06:27] tilo opened #117 "required / optional headers"
for a given purpose, it can be useful to define which headers have to be present, and which are optional.

[2018-01-20 18:29] #117 closed

[2018-01-20 18:31] tilo opened #118 "Use Procs for validations and transformations"
for SmarterCSV 2.0 we should use Procs

##Converting Headers:

[code]

##Header Validations:

[code]

##Replace CSV Headers with Custom defined Headers:

[code]

##Data Transformations:

[code]

[2018-01-20 19:04] tilo commented on #98
Hey @RST-J : I'm planning re-writing SmarterCSV to support Procs for transforming headers, data, and validations.

Please leave your comments here:
https://github.com/tilo/smarter_csv/issues/118

[2018-01-20 19:04] #98 closed

[2018-01-24 20:54] tilo commented on #111
this is addressed in 1.2.0 and in 2.0.0

[2018-01-24 20:54] #111 closed

[2018-01-24 21:07] tilo commented on #115
PR #71 is closed - the tests were added to 1.2.0 and 2.0.0 -- no code-changes were needed to make it work.

I'll add a separate test for the case you mentioned `options_trader`.

[2018-01-24 21:07] #115 closed

[2018-01-24 21:09] tilo commented on #67
In 2.0 the default behavior will be similar to 1.2.0, but there will be a way to completely disable the default settings and default transformations

[2018-01-24 21:09] #67 closed

[2018-01-24 21:10] tilo commented on #116
this might be related to this issue:
https://github.com/tilo/smarter_csv/issues/59

[2018-01-24 21:11] tilo commented on #32
I'm considering this as a feature for 2.0

[2018-01-24 21:12] tilo commented on #66
this looks related to issue #32

[2018-01-24 21:13] tilo commented on #81
fixed in 1.1.4

[2018-01-24 21:13] #81 closed

[2018-01-24 21:15] tilo commented on #105
@oNgoVanDuong
is this fixed with 1.1.5 for you?
If not, please let me know and provide a sample CSV file

[2018-01-25 04:39] tilo commented on #115
can not reproduce

[2018-01-25 16:12] enviable commented on #115
This is still an issue. Here's where it breaks:
![screen shot 2018-01-25 at 10 10 44 am](https://user-images.githubusercontent.com/870808/35398701-2d9f67f0-01b8-11e8-9bfa-017723c1191f.png)

[2018-01-25 16:16] enviable opened #119 "Field with 'options_trader' is read as 'trader'"
![screen shot 2018-01-25 at 10 10 44 am](https://user-images.githubusercontent.com/870808/35398851-81d666a2-01b8-11e8-8046-54596714a0bd.png)

[2018-01-26 04:29] tilo commented on #119
can you provide a test which reproduces this issue?

[2018-01-26 05:01] tilo commented on #119
@enviable Josh, please use the just released version 1.2.1
Thank you for reporting!

[2018-01-27 02:55] tilo commented on #119
@enviable  Josh, please check version 1.2.2

[2018-01-27 02:55] #119 closed

[2018-01-29 00:12] tilo commented on #116
@Quintasan looks like this is a Multiline format. E.g. these are really two rows:

[code]

[2018-01-29 00:30] tilo commented on #116
the problem is that the continuation lines end with `\r\\\n` , and the real row separator is `\n` , which is a sub-set of the end of the continuation lines..

If you could replace the `row_sep` as a pre-processing step with something else, e.g. `\001` , then it would be much easier to read the file

[2018-01-29 00:44] tilo commented on #116
@Quintasan here you go:

https://stackoverflow.com/questions/356578/how-to-output-mysql-query-results-in-csv-format

use something like this:

`LINES TERMINATED BY '\001';`

[2018-01-29 01:01] Quintasan commented on #116
@tilo Awesome, thanks. As this is not an issue with smarter_csv I'll be closing this then!

[2018-01-29 01:01] #116 closed

[2018-02-02 10:06] waruboy opened #120 "Skip file opening, allow reading from csv string"
Hi Tilo! I'm reviewing the 2.0 version. Nice rewrite!

With the additional flexibility, I'm wondering if you can add support to just process a huge csv string.
Use case: We download our csv from amazon s3 and have it ready on memory. Would be nice if we can just feed it to smarterCSV ala CSV.parse()

[2018-02-02 15:59] tilo commented on #120
I'll look into it

[2018-02-02 23:47] waruboy commented on #120
Ah, our csv is only in tens of MB, so it's too large to process in-request, but still ok for in-memory processing.
I agree that we might need to do streaming in the future though, so thanks for pointing me to the resource

[2018-02-11 16:41] vmvwebworks commented on #33
it also worked for example when you use a form with params[:csv] 👍

[2018-04-18 16:34] arvryna opened #123 "[Question] Memory not freeing up"
Guys,

1) In rails console i have loaded a CSV with 100k rows as `z = SmarterCSV.process(path, options)` , it occupied around 1GB in memory.
`options = {:chunk_size=>500, :remove_zero_values=>false, :remove_empty_values=>false, :file_encoding=>"ISO-8859-1"}
`
then i set z=nil, that 1GB is not freed.  why is that ? will the same happen if i run the code in prod machine ?

2) Why is chunk_size = 500

[2018-04-24 06:42] aravinth-chandran commented on #123
Any updates on this ?

[2018-04-24 06:48] arvchz commented on #123
Any updates on this @tilo  ?

[2018-05-07 23:34] ajw725 commented on #27
@tilo i realize this is four years old, and your workaround works for me, but this does not seem to be a corner case. i'm seeing it now with any CSV generated by Excel on Windows.

[2018-05-07 23:58] kaligrafy commented on #27
OK, thanks! Feel free to add the workaround if you think it could be useful.

[2018-05-08 02:46] ajw725 commented on #27
as @tilo described / using his example:

without the workaround:
[code]

with the workaround:
[code]

[2018-05-28 21:06] piacsek opened #127 "Yield raw CSV line"
Smarter CSV could yield the unparsed content of each line it processes. My application needs the raw data for logging purposes.

[2018-05-29 01:59] tilo commented on #127
can you please submit a PR?
Is this for version 1.x or 2.x?

[2018-05-29 02:35] FelipePiacsek commented on #127
Hey. It is for version 2. I'll submit the PR tomorrow! Thanks!

[2018-05-31 17:36] tilo commented on #127
I left a comment on the PR - I think this will negatively affect the memory utilisation for large CSV files.

[2018-06-15 14:18] Viiruus opened #129 "File with French encoding does not load correctly"
Hello guys! Congrats for this amazing lib. That's really useful!

    uri = URI(s3_url)
    csv_file = open(uri, 'r')

    csv_options = {
      chunk_size: 100,
      force_utf8: true,
      col_sep: ';',
      skip_lines: nil, # or 1 if the user check the case skip first row
      headers_in_file: false,
      user_provided_headers: [:skip0, :movement_date, :skip2, :skip3, :skip4, :skip5, :amoun

[2018-06-15 22:42] tilo commented on #129
Thank you! I'll have a look!

[2018-06-16 18:10] Viiruus commented on #129
Thanks for your quick reply Tilo!

Yes, I have French UTF-8 characters like "é"...
I can't upload CSV on Github so I took a screenshot and joined it to the post.

<img width="869" alt="capture d ecran 2018-06-16 20 08 37" src="https://user-images.githubusercontent.com/6850261/41501253-328ef11e-71a1-11e8-8bc3-2c8d3a677c26.png">

[2018-06-19 22:03] tilo commented on #129
thank you! I'll work on it and keep you posted

[2018-06-22 15:29] Viiruus commented on #129
Hello @tilo,

Here were my options:

[code]

There was "force_utf8: true".

[2018-06-26 23:03] tilo commented on #129
@Viiruus please use this option: `file_encoding: iso-8859-1`

[2018-06-26 23:32] #129 closed

[2018-06-27 09:51] Viiruus commented on #129
Thanks for your work @tilo !
But here is my result:
[code]

Anyway, my problem was not the encoding but the header_validations and the header_transformations options.
With these options:
[code]
I was expecting to have this kind of result:
[code]
Because all :skip keys are mapped with nil value in the header_transformations option.

AND with this option:
`
header_validations: [ required_headers: %i

[2018-06-27 23:09] tilo commented on #129
header validations and transformations don't work with version 1.x -- that's only version 2.0.0-pre1

the docs for version 1.x are here:

https://github.com/tilo/smarter_csv/tree/1.2-stable

[2018-06-28 08:52] Viiruus commented on #129
Hello Tilo!

Ok!! I was confusing about versioning...
There is no release for the 2.0.0-pre1 version. How do I switch to this new
version?

Thanks again Tilo 😉
Nicolas

2018-06-28 1:09 GMT+02:00 Tilo <notifications@github.com>:

--
<http://www.zuuno.fr/images/layout/logo_zuuno_negatif.png>

Nicolas Guillemain
Directeur
T : +33 (0)9 52 54 03 70
M : +33 (0)6 74 66 35 97
nicolas.guillemain@zuuno.fr
w

[2018-06-28 09:22] Viiruus commented on #129
Ok, I put this within my Gemfile and it works (the version is 2.0.0-pre1):

I tested my code...
and the option seems working:

Otherwise, this option doesn't work for me:

I am expecting to have this kind of result:

but I have this result:

Is it normal?

Thanks Tilo,
Nicolas

2018-06-28 10:52 GMT+02:00 Nicolas Guillemain <nicolas.guillemain@zuuno.fr>:

--
<http://www.zuuno.fr/images/layout/logo_

[2018-07-01 18:44] ryanwjackson opened #130 "Row numbers"
Thanks Tilo, this gem is awesome!

We have a use case where we need to store and report the row number from the original CSV so it can be referenced in file if needed.  Perhaps this exists in v1.2 (though I couldn't find it), but figured I'd throw it out as a feature request in v2.0 if not.

[2018-07-07 06:08] tilo commented on #130
yes, this would also be very useful for error reporting

[2018-07-11 20:01] guifeliper opened #131 "Ruby smarter_csv Header validations"
I would like to know how would I validate that my user is sending a file with a specific header, and if it is not the header expected, return an error message so the user can fix it.

Can you show me a quick example?

[2018-07-20 00:11] tilo commented on #131
this rspec file contains some examples:

https://github.com/tilo/smarter_csv/blob/master/spec/smarter_csv/invalid_headers_spec.rb

[2018-07-20 00:12] #131 closed

[2018-07-26 08:42] KevinColemanInc commented on #130
@ryanwjackson

[code]

I do this to tack on row numbers

[2018-08-01 11:22] KevinColemanInc opened #133 "Collect all Errors, before surfacing them. Avoid throwing an exception on the first error."
If there are failures in parsing the CSV, it will be a better user experience if all of the errors can be captured instead of throwing an exception on the first error.

For example, if you have 2 missing columns and 2 duplicate columns, smarter_csv will stop after finding the missing columns instead of also reporting the duplicate columns.

[2018-08-08 07:25] fruwe commented on #105
@oNgoVanDuong Just an idea, but did you try CP932 instead of Shift JIS, because it contains important characters, which are not included in the standard Shift JIS

[2018-08-08 07:43] fruwe opened #134 "UTF-8 warning is shown, even though the file is being decoded"
I am trying to read a Shift JIS (CP932) file like this:

`::SmarterCSV.process(path, :file_encoding=>"CP932:UTF-8")`

but this warning pops up:

`WARNING: you are trying to process UTF-8 input, but did not open the input with "b:utf-8" option. See README file "NOTES about File Encodings".`

The README file does not contain a "NOTES about File Encodings" section 😿

### Update

I found the solution,

[2018-08-10 00:29] tilo commented on #32
well, you could do this:

[code]

[2018-08-10 00:29] #32 closed

[2018-08-10 00:32] tilo commented on #66
needs to be addressed in 2.0

[2018-08-10 05:40] KevinColemanInc opened #135 "potential memory leak in csv"
If someone uploads a CSV with a massively long title, smarter_csv calls `to_sym` on the long title.  Since symbols are never cleaned up, the memory is retained.

For reasonably large titles, to_sym makes sense, because you don't want to have all of these strings allocated in memory.

I know you can explicitly ask smarter_csv to use strings as keys, but I wonder if there could be a middle ground wh

[2018-08-10 05:41] KevinColemanInc commented on #123
@arvchz

Maybe this could be related?
https://github.com/tilo/smarter_csv/issues/135

[2018-08-10 09:29] aravinth-chandran commented on #135
I have reported a similar error here => https://github.com/tilo/smarter_csv/issues/123#issuecomment-383822312

[2018-08-16 07:00] Timmitry commented on #61
What worked for me is to really use a newline in the CSV

[code]

This will yield "Column 1\nRow 2" in the parsed hash. However, I'd also be interested in a possibility to have newline characters in a quoted string!

[2018-08-24 02:48] PaulJuliusMartinez opened #136 "Default comment_regexp option incorrectly matches '#' characters after start of lines when used with non-default `row_sep`."
Consider a CSV with the following contents:

`h1,h2\r\n1,"b\n#c"`

With `row_sep: "\r\n"` this should be parsed as:
[code]

But the default `comment_regexp`, `/^#/`, matches the `\n#` in the the second row of the CSV and the row is ignored entirely. (Because `$/` is set to `"\r\n"`, the [first `f.readline`](https://github.com/tilo/smarter_csv/blob/master/lib/smarter_csv/smarter_csv.rb#L170) reads

[2018-08-27 15:40] tilo commented on #136
thank you for the bug report!

[2018-09-03 08:59] Hengjie opened #137 "Exceptions shouldn't be under "Exception""
The design of the exceptions should really be under `StandardError` and we should be creating our own `SmarterCSVException` class that extends from `StandardError` and every other exception should be a class that extends from `SmarterCSVException`

See the bit from "The Class Hierarchy" and below http://blog.honeybadger.io/a-beginner-s-guide-to-exceptions-in-ruby/

[2018-09-16 11:06] tilo commented on #137
agreed! will fix

[2018-09-16 11:06] #137 closed

[2018-09-16 11:33] tilo commented on #136
fixed in 1.2.5

[2018-09-16 11:33] #136 closed

[2018-09-17 09:58] KevinColemanInc opened #139 "When missing_keys source is missing, a KeyMappingError should be raised, not a MissingHeaders exception!"
If you have a key mapping hash, like:

[code]

Then you would expect the header of "name" to be mapped to "full_name", but if "name" is missing, the exception thrown says you are missing "full_name"

=> "ERROR: missing headers: full_name"

Impacted version:
v1

[2018-09-17 10:17] KevinColemanInc opened #140 "`required_headers` does not define required headers"
`key_mapping` contains a list of csv headers mapped to attribute names.

`required_headers` is actually expected to contain a list of attribute names, not csv headers.

For example, lets say a csv has 1 required column in it with the header of "name".  You need the attribute to be mapped to "full_name", because that is what you called it in your model.  Your `key_mapping` would look like this:

[c

[2018-09-17 10:37] KevinColemanInc opened #141 "[2.0.0pre1] Can't communicate duplicate columns and missing columns."
The problem with throwing exceptions when the first error occurs is it makes it impossible to report other errors in the document.

Specifically, if you have a Duplicate columns and missing columns, only one would be reported at a time.

I think it would be better validations were handled like active record where you could collect all errors without triggering a hard failure.

https://github.com/t

[2018-09-18 11:47] KevinColemanInc opened #142 "Don't call `rewind` on f"
If you pass in a file with a bom character, the rewind jumps back to before the bom.

[code]

This is a problem for required and missing headers, because the first header value will contain the blank character and not correctly match the given string.

Problem line:
[1.2-stable/lib/smarter_csv/smarter_csv.rb#L35](https://github.com/tilo/smarter_csv/blob/1.2-stable/lib/smarter_csv/smarter_csv.rb#L3

[2018-09-18 11:51] KevinColemanInc commented on #141
Sorry. dupe of:
https://github.com/tilo/smarter_csv/issues/133

[2018-09-18 11:51] #141 closed

[2018-10-01 17:58] hadees commented on #118
@tilo what about `@errors` and `@warnings`?  I tried using them in a proc and it didn't work.  Eventually I had to monkey patch `SmarterCSV` to get my procs in.

[2018-10-22 02:01] fruwe commented on #134
Ohh, thanks!!!

[2018-11-19 13:54] geraldb opened #144 "csvreader a new "core" csv reader library - Let's work together - Why? Why not? Thoughts?"
Hello,
   Your smarter_csv library  and README was a great inspiration for using "plain" hashes for returning records in the new csvreader library (instead of CSV::Table, CSV::Row, etc. as done in the old std csv library).

  Anyways, as far as I can tell your library doesn't have its own csv parser and still uses the old std csv library under the hood. I invite you to consider to use the new mode

[2018-11-24 15:26] camilleroux opened #145 "Field with line returns"
Hi,

A CSV file I tried to read contains line returns in some fields. How can I deal with it?

[2018-12-15 23:58] #134 closed

[2018-12-16 00:01] tilo commented on #139
This is raised by v 1.2.x, here:
https://github.com/tilo/smarter_csv/blob/4b192ee76a0a39fe3db2b5332614dc0d3664be34/lib/smarter_csv/smarter_csv.rb#L111

but that only happens when you define `required_headers`

[2018-12-16 00:05] tilo commented on #139
@KevinColemanInc I can't reproduce this.

[code]

can you provide an example for this?

[2018-12-16 00:10] tilo commented on #142
are you passing a string instead of the options hash?

did you mean: `file = File.open(csv_file, encoding: "r:bom|utf-8")`

can you provide a sample file?

[2018-12-16 00:14] tilo commented on #145
this should work right out of the box

[code]

[2018-12-16 00:14] #145 closed

[2018-12-16 07:50] KevinColemanInc commented on #139
You tell your user to upload a CSV file with 1 column with the title "manager_email", which you will map to "parent_email".

Your code would look like this:
[code]
Lets say the user uploads a CSV with the header of "email" instead of "manager_email".

SmarterCSV will throw: `ERROR: missing headers: parent_email`. This is confusing, because we told the user the "correct" column should be `manager_e

[2019-01-14 15:58] ThePeiggy commented on #123
I'm encountering the same issue. Memory leak from loading 1GB CSVs, causing a lot of headaches in production.

[2019-01-14 17:31] arvchz commented on #123
@ThePeiggy : Which version are you using ?

[2019-03-18 21:14] siruguri commented on #76
In case someone lands here with a Google search, the relevant commit appears to be https://github.com/tilo/smarter_csv/commit/84cbdebd415ad0b06a72c8280a9842da1d6efc12, and the option key is `:force_utf8`

[2019-04-17 20:36] BrianHawley commented on #135
"Since symbols are never cleaned up, the memory is retained."

This is no longer true starting with Ruby 2.1. Symbols and frozen strings are collected by the GC.

[2019-04-17 21:52] KevinColemanInc commented on #135
I stand corrected! thanks. I am closing the issue.

[2019-04-17 21:52] #135 closed

[2019-05-31 18:35] 9mm opened #150 "WARNING: you are trying to process UTF-8 input"
I'm using the `Readline` method with `StringIO`.

I get this warning about UTF8

    WARNING: you are trying to process UTF-8 input, but did not open the input with "b:utf-8" option. See README file "NOTES about File Encodings".

I have consulted that part of the Readme but I don't see how I would actually fix this because I'm not reading anything from a file? (It's coming from the `ftp.getbinaryf

[2019-05-31 18:47] 9mm commented on #150
My CSV does appear to contain a BOM. I thought maybe I can do this according to StringIO docs...

    StringIO.new(csv_raw, mode: 'r:bom|utf-8')

But this appears to still leave the BOM in the file

[2019-06-13 17:33] dmolesUC opened #151 ":convert_values_to_numeric_unless_leading_zeros drops leading zeros"
## Steps to reproduce:

Given a file called `data.csv` with the following:

[code]

Run the following script:

[code]

## Expected

- Values are strings
- Leading zeroes are preserved

## Actual

[code]

[2019-06-21 08:37] nonnenmacher commented on #150
don't know for 'writing'  CSV
but solved similar situation for reading and parsing such CSV with `BOM` bytes
with

[code]

as `options` hash given to

[code]

I don't know if giving `:file_encoding => 'bom|utf-8'` for reading and `` :file_encoding => 'utf-8'`` will remove the BOM bytes (as it should normally be a standard to deal with or without it for utf-8 anyway).

[2019-08-06 12:07] camiloforero commented on #140
I also found this issue. Are there plans to fix it in v2? It looks like required_headers validations should run before the fields are mapped with key_mapping

[2019-09-09 10:37] melbreaker commented on #151
Which version of the library are you using? I'm using version 1.2.
Adding :convert_values_to_numeric => false in options solve the issue for me.

[2019-09-09 17:27] dmolesUC commented on #151
`1.2.6`. If I set `:convert_values_to_numeric => false` that does stop these values from being converted to numeric, but it also stops other values from being converted to numeric as well.

As a workaround I can set `convert_values_to_numeric: { except: [:start, :end] }`:

[code]

But isn't this what `:convert_values_to_numeric_unless_leading_zeros` is supposed to do?

[2019-09-23 18:44] lastobelus commented on #62
a "skip lines without skipping headers" would be useful (examples: rerunning a partially completed worker or re-running an import after fixing a malformed line

[2019-10-25 17:26] dkniffin opened #153 "Status of 2.0?"
This gem looks amazing and like it would solve a lot of CSV parsing issues I run into over and over. Of particular usefulness is the `hash_transformations` and `header_transformations` I see in the wiki. Unless I'm mistaken, it looks like these options are only available in the 2.0 release.

When will that release be publicly available? I would even be okay with a `2.0.0.pre1` release as long as i

[2019-10-29 10:44] ptrippett opened #154 "GPL or MIT licence, not "and""
Hi,

I have a picky client and need to clarify the licensing, is it "MIT and GPL-2" or "MIT or GPL-2".

Thanks
Paul

[2020-02-21 14:15] ramarnat commented on #154
Likewise. Could you clarify the licensing model?

[2020-03-01 23:38] SimonBrazell opened #155 "Header keys not matching"
I'm using this library to do a bulk import of property data and I've come across this strange issue, for some reason the first header key is not matching when I try to retrieve it's value, only the first, all others work as expected, see below:

[code]

Any ideas? Note I tried using ruby `2.6.3` prior to updating to `2.7.0` results were the same.

[2020-03-16 18:18] resistorsoftware opened #156 "SmartSCV process of large CSV files from Amazon S3"
I have a large 200MB CSV file in Amazon S3 storage. I download it using Fog AWS and then process it using SmarterCSV.process method.

Thing is, when I download the file, I save it as a tempfile so I can use it, but that blows up my Heroku Dyno in terms of memory usage. So I would love to see a way where I can download the CSV in chunks and process it. All my attempts have ended in failure with var

[2020-03-18 08:05] fuzzygroup commented on #151
I had the same issue.  I don't think this is fixed.  The work around did work tho.

[2020-03-19 14:19] njcameron commented on #153
You should be able to use this in your gemfile

`gem 'smarter_csv', git: 'https://github.com/tilo/smarter_csv', branch: '2.0.0.pre2'`

[2020-03-24 14:32] anthonyjlower opened #157 "convert_to_float saves Proc as @@convert_to_integer"
https://github.com/tilo/smarter_csv/blob/master/lib/smarter_csv/hash_transformations.rb#L88

It looks like the proc is being saved as the wrong name so line 94 returns a `NameError: uninitialized class variable @@convert_to_float in SmarterCSV` error.

[2020-03-25 05:33] vinni101 commented on #155
Hi @SimonBrazell were you able to get this issue resolved. I am experiencing a similar issue.

[code]

[2020-03-25 07:23] SimonBrazell commented on #155
Hi @vinni101 , I did the following in my import task, not ideal but works for now:

[code]
So I just check that the header in column 1 matches the column I'm after (as users could submit the CSV in the wrong format) and assign the value if it is, blank if not.

[2020-03-25 12:05] vinni101 commented on #155
Hi @SimonBrazell I appreciate the quick response. I implement the work around you suggested and it worked fine.

Thanks a mil

[2020-08-03 15:53] ghost opened #159 "Is there any way to check if the row is the last line while parsing"
I am using this gem to parse a large CSV file.
This is the code I am using.
[code]

Is there any way to check if the row is last line?

[2020-08-04 00:15] yu-coder opened #160 "Which chunk size between larger one or smaller one to reduce memory on Heroku?"
Hi, I am parsing the **large CSV** file which includes **100k+ rows** on **Heroku**.

[code]

But what I want to know is that processing with `chunk_size: 10` is better than `chunk_size: 100` to reduce **memory**?

[2020-09-20 14:52] yudechen0820 opened #162 "How can I parse the CSV file if the column has the double quote?"
I have this **CSV** file.
[code]

But I am not able to get correct data using the **smarter_csv** gem.
What I have tried.
[code]

[2020-09-26 07:08] turnspike commented on #76
To build on the answer from @siruguri the full command is: ```data = SmarterCSV.process(file_uri, force_utf8: true)```

[2020-09-29 16:34] blainelawson opened #163 "Does remove_zero_values: false even work?"
I've got my code like this and 0 values are resulting in NULL

[code]

[2020-09-29 16:58] #163 closed

[2020-09-29 16:58] blainelawson commented on #163
My issue, not smarter_csv's.

[2020-11-16 13:15] lunks commented on #153
Is the gem still under development? Looks like 2.0 hasn't been updated for a while. I may be interested in maintaining this if there's a need of a maintainer. cc @tilo

[2021-01-03 16:55] antarr opened #165 "Header Transformation not working"
I'm trying to use header transformations when importing data from a CSV file. When I look at the values using `byebug` I get a value like this

[code]
but I am expecting something like
[code]

### import task
[code]

### Headers in file
[code]

[2021-01-05 20:52] antoinematyja commented on #165
Had a similar issue, turns out `header_transformations` was added in 2.x which has not been released yet, so you are probably using the 1.2.

You can find 1.2 docs here (which have a `key_mapping` option, just without `header_transformation`):
https://github.com/tilo/smarter_csv/tree/1.2-stable#deprecated-1x-options-to-be-replaced-in-20

Or if you want to use 2.0 (unstable):
https://github.com/til

[2021-01-06 01:26] #165 closed

[2021-02-13 07:37] sshaw opened #166 "Differentiate Between Duplicate Headers"
Duplicate headers are a legitimate use case for endusers. The header X can be "unique" within the context of its neighboring columns and/or rows. Having to come up with an alternate, artificial name can be confusing for endusers and maybe even developers.

I see in v2 one can disable the duplicate headers option, but it appears there's no way access to the underlying "duplicates". Ruby's CSV libra

[2021-02-13 17:45] sshaw commented on #166
I also see #111 but it's not clear what the solution is or if it's applicable to this.

[2021-03-04 17:49] dominik1001 opened #168 "Different behaviour when parsing empty columns"
Version: smarter_csv (1.2.8)
Settings: `{ remove_empty_values: false }`

---

When I have the csv

[code]

smarter csv parses

[code]

for the first row. But when I have the csv

[code]

the result is

[code]

IMO it should be either `nil` or `''` for col1 and col2, but it should not behave differently.
What do you guys think?

Thanks,
Dominik

[2021-03-09 21:55] DalenW opened #170 "Header key included an invisible char"
The first key (I'm not sure if this matters) began with char 65279, which is a zero-width space. Spent some time trying to figure that one out.

This sounds messy and/or dangerous, but what if keys only contained alphanumeric characters and '_' of course for spacing.

My current work around is `last_name_key = csv_member.keys[0]`, but this only works if `last_name` is indeed the first column in th

[2021-03-16 17:57] etcook commented on #153
Softly checking in on the status of 2.0. Are there ways the community can help nudge this out?

[2021-04-09 13:21] espen commented on #156
Have you tried setting chunk_size so the entire file is not loaded into memory?

[2021-04-09 13:30] resistorsoftware commented on #156
Yes, I learned how to use chunks. For the most part that works well. Still, I have run into many problems with CSV processing beyond the size issue. Mostly due to how terrible most people construct CSV files in the first place.

[2021-04-09 13:30] #156 closed

[2021-04-12 17:31] DalenW commented on #170
I fixed this. But this fix only works for version 1.2. I added this option `strip_chars_from_headers: 65_279.chr`

Full line:
`csv_data = SmarterCSV.process(Rails.root.join("import/#{file_name}"), { strip_chars_from_headers: 65_279.chr })`

[2021-04-12 17:31] #170 closed

[2021-04-16 05:05] mohanwitz commented on #142
@tilo
This problem is still there, any updates on when it will get fixed?

[2021-04-21 16:39] ssoulless opened #172 "header_transformations are being ignored when processing remote file"
For some reason the header_transformations option is not working, Im downloading a CSV file I have in a google bucket and then I try to read it and pass some options this way:

[code]

It should return the headers as they are in the CSV but instead I get the symbol headers.

I also tried with:
[code]

But I still get the default symbol keys...

[2021-04-21 17:01] ssoulless opened #173 "Allow String custom mapping, not only symbols"
Would be nice if the header_transformation feature also supports string mapping, not only symbols.

https://github.com/tilo/smarter_csv/blob/f75c099b8b6d4af6c5496c39ed4901e754672245/lib/smarter_csv/header_transformations.rb#L28

Right now you only can map if your headers are symbols.

[2021-04-21 19:19] ssoulless commented on #172
It seems the documentation is outdated and inconsistent. I found these docs that are different than the docs of the github repository.

https://www.rubydoc.info/gems/smarter_csv/1.2.6

For example, to customize key mapping instead of this:

[code]

You need to remove the `header_transformations` key to make it work:
[code]

However, I cannot find the proper documentation to pass the `:none` option

[2021-04-21 19:26] ssoulless commented on #172
Okay my bad, I probably missed this part in the master docs. Im sorry.

https://github.com/tilo/smarter_csv#service-announcement

Closing the issue. However I think many newbies like me will get confused, the docs in the master branch should be the ones of the latest stable release, and probably provide a link for the docs of the pre-release.

[2021-04-21 19:26] #172 closed

[2021-04-21 20:20] ssoulless commented on #173
it seems it support the strings, however the result returns a symbol, but I think I can close this.

[2021-04-21 20:20] #173 closed

[2021-06-11 14:08] stepanBoichyshyn commented on #168
@dominik1001 This is because `SmarterCSV` replace all nil values by empty string permanently
https://github.com/tilo/smarter_csv/blob/f75c099b8b6d4af6c5496c39ed4901e754672245/lib/smarter_csv/smarter_csv.rb#L199

I currently looking for a solution to return nils anyway. Will ping you with a results

[2021-06-11 14:22] B1aine commented on #154
Hi,

First of all, appreciate your work, thank you!

Bumping the question(s) above, we would be very grateful if you could please provide info whether we are free to choose which license to use or they have to be used jointly.

Thanks,
RC

[2021-06-23 16:59] tilo commented on #154
you can pick which of the licenses listed in the gemspec file you want to use - only the license you picked is applicable to you.

[2021-06-23 17:17] B1aine commented on #154
Thank you! Much appreciated Tilo

Cheers,
RC

[2021-06-23 17:36] tilo commented on #154
I also clarified it in the gemspec file - should be pushed out with the next version

https://github.com/tilo/smarter_csv/blob/8544e7f9760d2b7387a8fdf4658f1adb46f5c0a4/smarter_csv.gemspec#L18

[2021-06-27 04:35] #154 closed

[2021-07-05 11:37] creativetags opened #174 "Example of custom Procs for hash_transformations in 2.0 documentation"
Could we have an example of how to implement a custom Proc for a hash_transformations say on this page: https://github.com/tilo/smarter_csv/wiki/Hash-Transformations

There is one on the header_transformations page but it doesn't seem to work the same way for hash_transformations

My guess didn't work:

[code]

[2021-07-19 11:02] pedrocarmona opened #175 "Deprecation Warning in ruby 3.0.2"
Hi,

I want to report a deprecation warning in:

Ruby: 3.0.2
smarter_csv: 1.2.6 and 1.2.8

[code]

Thank you

[2021-08-03 10:43] bigzoo opened #176 "Update & tag pre-release branch"
Hi @tilo,

Thanks for all the work you've done on smarter_csv, big fan!.

I'd like to request for a new pre-release branch with the latest changes in master (2.0.0.pre1 is quite outdated); and if it can be tagged as well even though still being pre-release, it would make it so much easier to use the new changes in a project.

Happy to collaborate on this 🙏🏽 .

Best,
Chris

[2021-08-13 16:26] ericplezi opened #177 "duplicated values for a column"
Hi

Is there a way to verify a column (like email address) has duplicate values? especially when using chunk_size option?

Thanks

[2021-08-17 07:36] ericplezi opened #178 "strings_as_keys not working"
Hi

It does not look like parsing option `strings_as_keys: true` is working as expected.
I'm using version 1.2.8.

Was a bug introduced or am I missing something?

Thanks

[2021-09-25 15:19] antarr opened #179 "NoMethodError: undefined method `close' for nil:NilClass"
I"m getting this error, `NoMethodError: undefined method close for nil:NilClass` when attempting to process a file. It happens with both v1 and v2.

### bill_import_worker.rb
[code]

[2021-10-12 15:52] marvinthepa opened #180 "Missing LICENSE file in repo/gem"
The gemspec mentions that it is MIT/GPL-2 licensed, but the repo does not contain a License file.

Would be nice to include one. AFAIK a license needs a "Copyright $YEAR $HACKER" line to be valid, which is difficult to generate correctly if you only have the info from the gemspec..

Would be also nice if the License file was included in the gem.

[2021-11-21 02:46] agarie commented on #176
@tilo This would be lovely. I can collaborate too. :)

[2021-11-23 01:09] tilo commented on #178
can you provide an example or if possible an rspec test?

[2021-11-23 01:11] tilo opened #181 "Bug when using :keep_original_headers in combination with :key_mapping"
there could be cases where someone wants to use `keep_original_headers: true`, but still wants to map multiple fields, e.g. to strings like this ` key_mapping: {'Last_Change_Date' => 'LAST_CHANGE_DATE'}`

Currently this will result in the key to be `:LAST_CHANGE_DATE` ... not a string

The values from `key_mapping` need to be taken as is, without further modification.

[2021-11-23 01:14] tilo commented on #105
@duongnv-0312 is this resolved?

[2021-11-23 06:48] tilo commented on #181
fixed in version 1.2.9

[2021-11-23 06:48] #181 closed

[2021-11-23 08:02] #178 closed

[2021-11-30 20:05] daslicious opened #182 "v1.2.9 is a breaking change"
Many thanks for the great gem!

Just a heads up that apps that expect the keys to be symbols might break with 1.2.9.

https://github.com/tilo/smarter_csv/commit/7d71b3fa1a1f0ba5a21ae9379fc05de29704d191

[2021-12-17 05:01] hknaksu commented on #182
I got a broken app and 1.2.6 & 8 no longer returns the keys as symbols either!

[2022-01-20 19:57] tilo opened #183 "auto-detect delimiter"
along those lines:

[code]

[2022-02-07 00:58] tilo commented on #182
oh my :(

[2022-02-07 01:15] tilo commented on #182
@daslicious @hknaksu do you have a test case for this?

[2022-02-07 01:33] tilo commented on #182
@daslicious @hknaksu This was fixing a bug, and should have been version 1.3.0, not 1.2.9

Yes, it is a breaking change, but easy to fix:

if you use `--key_mappings`, please change your code:
     * either use symbols in the `key_mapping` hash
     * or change the expected keys from symbols to strings

[2022-02-07 01:50] tilo commented on #182
https://twitter.com/tilosloboda/status/1490503228030537728?s=20&t=4Ti8YCaFcZvRpBASiql07Q

[2022-02-07 01:51] #182 closed

[2022-02-07 01:52] tilo commented on #181
pulled incorrect version 1.2.9 and released 1.3.0
https://github.com/tilo/smarter_csv/issues/182

this bug fix, while necessary, was not 100% backwards compatible.

If you already use --key_mappings, either
* explicitly use symbols in the key_mappings hash
* or change the expected keys in your code to strings

[2022-02-07 12:43] tilo commented on #180
will fix

[2022-02-07 12:43] #180 closed

[2022-02-07 12:49] tilo commented on #180
fixed in 1.4.0

[2022-02-07 12:55] tilo commented on #179
@antarr

* where do you get the `file_path` from? is it a filehandle from `File.open`?
  It looks like you're passing `nil` in, instead of a filehandle on line 5.

* which version of smarter_csv did you try exactly?

This should avoid this:
https://github.com/tilo/smarter_csv/blob/5229c2d00c20db47198c9ae178e698fa289db5ae/lib/smarter_csv/smarter_csv.rb#L251

[2022-02-07 12:55] #179 closed

[2022-02-07 13:00] tilo commented on #177
That would use quite a bit of memory to add this behavior.. CSV files can be huge.

Probably better to do this kind of analysis before or after processing.
Or set-up your processing so that "duplicates" are handled as versioned.

I'll consider adding a hook in 2.0

[2022-02-07 13:00] #177 closed

[2022-02-07 13:06] tilo commented on #155
can not reproduce this 🤔

are you passing in a filename, or a filehandle?
any control characters on or before the first data line?

[2022-02-07 13:17] tilo commented on #175
fixed in 1.4.0

[2022-02-07 13:55] tilo commented on #168
it really boils down to some wacky behavior of the String#split method:

[code]

[2022-02-08 02:45] SimonBrazell commented on #155
Hi @tilo! I stopped using this library since then so can't confirm the behaviour now.

If you look at my original issue though you'll see that I was passing the filename.

[Here](https://github.com/tilo/smarter_csv/files/8020265/Test.csv) is an example of what I would have used back then, if that doesn't help perhaps @vinni101 can provide something?

[2022-02-08 06:53] tilo commented on #183
fixed in 1.4.0

[2022-02-08 06:53] #183 closed

[2022-02-08 07:00] tilo commented on #155
Hmm.. I can't reproduce it:

[code]

[2022-02-08 16:49] antarr commented on #179
I don't recall what solution I used to fix this. But the issue was related to a change in Ruby 3. I'll comment later if I find it.

[2022-02-11 23:45] tilo commented on #168
@dominik1001 @stepanBoichyshyn fixed in version 1.4.0

[2022-02-11 23:45] #168 closed

[2022-02-12 17:36] tilo commented on #162
this is not a valid CSV file.

Have a look at how the Ruby CSV library handles this:

[code]

[2022-02-12 17:36] #162 closed

[2022-02-12 18:41] tilo commented on #159
basically no, unless you know in advance how many lines there are in the CSV file.

You only know that the previous line was the last line, once you try to fetch the next line and get an EOF error

[2022-02-12 18:41] #159 closed

[2022-02-12 20:57] tilo commented on #150
@9mm @nonnenmacher can you provide a small sample CSV file?

When handling data, using `force_encoding` and/or `mapping invalid/undef codes to `''` can also help.
I'd need to see a file to look into this further

[2022-02-12 21:01] tilo commented on #140
yes, it looks like a misnomer. will have a look

[2022-02-12 21:10] tilo commented on #59
Reaching EOF can happen when single or uneven number of quotes are encountered - those are often invalid CSV files.

[2022-02-14 11:11] nonnenmacher commented on #150
sorry I can't (was some PayPal payments file).

If I could help further (as it seems a nice touch to see so old issues being solved), nice of you !

[2022-02-15 10:05] kaiserbrito opened #184 "Deprecation warning in Ruby 3.0.3"
Hey,

Using Ruby 3.0.3 and smarter_csv 1.4.0 a deprecation warning is raised:
[code]

Thanks a lot!

[2022-02-15 22:34] tilo commented on #184
awesome - and they don't mention what to do instead :P

https://blog.saeloun.com/2020/03/09/ruby-2-7-setting-special-variables-to-non-nil-value-is-warned.html

[2022-02-15 22:47] tilo commented on #176
I updated the branches a few days ago:

 master -> no longer used
 1.x-stable -> main (new default branch)
 2.0-develop : updated
 2.0.0.pre2 : updated (not much change yet)

@bigzoo @agarie email me

[2022-02-16 09:12] bigzoo commented on #176
Awesome news @tilo, I'll contact you for collaboration.

[2022-02-16 09:12] #176 closed

[2022-02-25 15:07] ClaytonPassmore opened #185 "Bug with extra separators"
Hey there 👋

Some behaviour in Smarter CSV seems to have changed somewhere after `v1.3.0`.

### Test case

[code]

Previous behaviour (v.1.3.0):

[code]

New behaviour (v1.4.2, but I believe even as early as v1.4.0):

[code]

### Observations

Notice that there's a dangling separator now in the output.

### Versions

* Ruby: `v2.7.5`
* Rails: `v6.1.4.6`
* Smarter CSV: `v1.4.2` (previously `v1.3.0`

[2022-03-01 01:29] resistorsoftware opened #186 "Not Serious, but a Thing with ActiveStorage"
If you open a file saved using ActiveStorage, you get a properly encoded UTF-8 file if the file was properly encoded UTF-8. If you then attack that open file with SmarterCSV, it throws this message:

WARNING: you are trying to process UTF-8 input, but did not open the input with "b:utf-8" option. See README file "NOTES about File Encodings".

I am pretty sure you cannot control how you open a file

[2022-03-06 02:54] tilo commented on #185
it is a result of fixing an issue.

previously the CSV line was just using `split(col_sep)`, but that caused issues in some cases.
SmarterCSV is now using `split(col_sep, count)`, where `count` reflects the number of header elements.

I'll see if I can fix this issue in the next release

[2022-03-07 05:25] tilo commented on #186
@resistorsoftware did you specify `file_encoding: "UTF-8"` ?
https://github.com/tilo/smarter_csv/blob/5d2979be04ec1a6a36bc9da77cb84d91f5a4ece8/lib/smarter_csv/smarter_csv.rb#L20

[2022-03-13 22:28] 9mm commented on #27
Shouldnt a smarter CSV library handle this automatically? I can't open any CSV thats been exported by excel because these are all the column headers:

<img width="157" alt="image" src="https://user-images.githubusercontent.com/1386207/158081871-0eb6b53c-87a4-41ea-9b3a-7948ce421634.png">

On top of that, look at what it parses for the partner_id:

<img width="360" alt="image" src="https://user-imag

[2022-03-13 22:52] 9mm commented on #27
This is definitely not a corner case, considering BOM are the bane of working with CSV's, and excel is the most popular CSV program. This being handled within the gem seems like a no brainer

[2022-03-14 02:00] 9mm commented on #185
Im experiencing this too:

  :source=>"SV",
  :partner_id=>",,,,,,,,,,,,,,,,,"},

[2022-03-24 18:32] 9mm commented on #185
Hey just checking in on this again, this seems like a very serious bug for a CSV library to have (not parsing columns properly). I have reverted to an older version for now but I'm not sure what other bugs exist in that older version or which cases those bugs appear

[2022-04-25 01:24] tilo commented on #186
that's a great question.. 🤔 I'll look into it

[2022-04-25 02:32] tilo commented on #185
@9mm @ClaytonPassmore  this will be fixed in version 1.5.0

[2022-04-25 02:34] tilo commented on #184
thank you @jfouse !
@kaiserbrito this will be fixed in 1.5.0

[2022-04-25 02:34] #184 closed

[2022-04-25 03:18] #185 closed

[2022-04-25 03:22] tilo commented on #166
@sshaw hwo about adding a suffix to the name of the duplicate header.. would that work?

e.g.

[code]
?

[2022-04-25 04:17] tilo commented on #157
note: code moved to 2.0 branch

[2022-04-26 07:08] tilo commented on #111
to be clear - the change in 1.2.0 was only to throw an error

[2022-04-26 14:23] sshaw commented on #166
Hi!

Seems odd but not necessarily opposed to it. What is downside to this versus using the same header name and making the value an `Array`? E.g., `{ name: %w[tim joe tom] }`? This feels more "natural" and one can determine if they're multiple values easier:

[code]

vs

[code]

Thoughts?

[2022-04-26 18:59] tilo commented on #166
@sshaw in my understanding, typical CSV files are "flat" in the sense that all keys are on the same level.

The premise of `smarter_csv` is to generate a "flat" hash of the line in the CSV file, that can be used right away for processing  or insertion into a data store.

Using `{ name: %[tim joe tom]}` seems odd in that respect.

I've never encountered CSV files with duplicate headers.
I'd probabl

[2022-04-26 23:08] dpep commented on #166
I guess duplicate headers in CSV files aren't illegal, although they seem irregular.  it definitely breaks the hash functionality, but I wouldn't over-optimize around this use case.  SmarterCSV could return an object with both hash access (ie. current functionality) and array style index offset?

[2022-04-27 01:42] tilo commented on #166
duplicate headers in CSV files are rare.

Default behavvior:  no change in behavior: duplicate headers will raise `DuplicateHeaders`, unless `duplicate_header_suffix` is defined.

If `duplicate_header_suffix` is defined, `smarter_csv` will append numbers 2..n to duplicate headers.

### Why not array notation for duplicate headers:

at the end of the day, the user will need to handle the ambiguity

[2022-04-27 01:47] tilo commented on #166
fixed in 1.5.1

[2022-04-27 01:47] #166 closed

[2022-04-27 05:31] tilo commented on #155
can not reproduce

[2022-04-27 05:31] #155 closed

[2022-04-29 07:18] tilo commented on #130
I can add this to the header processing, so that you can get the row numbers for each of the header fields

[2022-05-16 20:54] tilo commented on #44
punting on this feature for now

[2022-05-16 20:54] #44 closed

[2022-05-16 21:19] tilo commented on #61
Closing this issue:

* quoted fields with new line in them are supported in recent versions of smarter_csv
* double-quotes inside quoted fields are also supported, to represent a single quote character, as in 3"

One exception:

newline characters in the header are not supported

[2022-05-16 21:19] #61 closed

[2022-05-16 21:20] tilo opened #192 "Handle quoted newline character in header"
complete corner case though

[2022-05-16 21:21] tilo commented on #59
Reaching EOF can also happen as a result of newline characters in the header row

[2022-05-16 21:26] #127 closed

[2022-05-24 09:19] tilo commented on #144
Hi @geraldb , I'm about to release version 1.7.0 of SmarterCSV, which will have it's own accelerated CSV parser.

[2022-05-26 19:55] 9mm commented on #62
yes, a skip line feature seems useless if it is only counting before the CSV headers (who does this?). The real use of skipping lines is partial processing of CSVs (like a daily batched CSV and were processing the current CSV and there is no unique index column in the CSV)

[2022-07-01 20:42] ernestoe opened #195 "Chunk not processed in 1.7.0"
The following code works fine in `1.6.1`, but doesn't process a single chunk in `1.7.0`.
The block provided does not execute at all and thus `chunk_count` remains at 0.

Am I missing something?

[code]

[2022-07-02 17:44] tilo commented on #195
@ernestoe thank you for posting - will have a look!

[2022-07-03 01:44] tilo commented on #195
@ernestoe I can not reproduce this.

Can you please have a look at [this RSpec test](https://github.com/tilo/smarter_csv/blob/c807e30a0d875fbdb2c1257f64ec8668f8b8dd09/spec/smarter_csv/chunked_spec.rb#L29)

I'd appreciate if you could write a test which reproduces the issue

[2022-07-03 02:01] tilo commented on #195
if your `GenericProcessChunkJob.perform_later` raises an exception, the chunk does not get counted..
What happens if `chunk_count += 1` is placed right after the `sleep` statement?

[2022-07-06 07:52] theRealNG opened #197 "Able to read only 1 row from file"
Hi,

I have written the following code:

`
SmarterCSV.process('test.csv', { headers_in_file: true}) do |arr|
  puts arr
end
`

The following output is printed:
=> {:someid=>"39981", :somename=>"FoodWorks Inc", :somenumber=>"71821", :somedate=>"07/01/2022 3:14"}

But it is printing only the first row apart from the headers. Not sure what am I doing wrong here.

I'm using Ruby 2.7.0 and smarter_csv

[2022-07-06 08:32] theRealNG commented on #197
Seems to be problem with v1.7.0. Tried v1.6.1 and it is working fine.

[2022-07-06 15:38] tilo commented on #195
@ernestoe were you able to reproduce this, and create a test? Or should I close this?

[2022-07-06 15:39] tilo commented on #197
can you provide a sample file, or a test?

[2022-07-06 16:50] mo-rubikal commented on #197
Example file content:
[code]
Running
`SmarterCSV.process(file)`

Should return
`[{:a=>1, :b=>2, :c=>3, :d=>4}, {:a=>5, :b=>6, :c=>7, :d=>8}]`
instead it return
`{:a=>"1", :b=>"2", :c=>"3", :d=>"4"}`

[2022-07-06 17:06] tilo commented on #197
can not reproduce - this sounds like you have either weird `row_sep` characters in your CSV file, or other special characters

[code]

@mo-rubikal @theRealNG Have you tried to look at your CSV file with `hexdump -C filename` or `od -X` ?

[2022-07-06 19:38] tilo commented on #197
[code]

[2022-07-06 23:13] KXEinc commented on #195
if `remove_empty_values: true` (by default) and this is the Rails app, nothing after line 100 executes including `yield` on line 140.

 I think ternary operator fits on the line 100 the best:
 `has_rails ? hash.delete_if{|_k, v| v.blank?} : hash.delete_if{|_k, v| blank?(v)}`

https://github.com/tilo/smarter_csv/blob/9826bfdbc93fd3ace45c61d9a8312f35b4f2d512/lib/smarter_csv.rb#L100

[2022-07-07 00:35] ernestoe commented on #195
@tilo, sorry for the delay, let me try to put together the test... and your comment on `chunk_count`

[2022-07-07 01:35] ernestoe commented on #195
If I include my `rails_helper` in the provided RSpec test

[code]

the test fails. And it's mostly standard configuration.

[2022-07-07 12:23] alextakitani commented on #197
I can confirm the bug.

It's the same for me, downgrading to 1.6 fixed.

Here's the file that I've used:

[booksellers2.csv](https://github.com/tilo/smarter_csv/files/9063463/booksellers2.csv)

[2022-07-07 14:13] KXEinc commented on #195
It looks like version `1.6.0` does not have `return`:
https://github.com/tilo/smarter_csv/compare/v1.6.0...v1.7.0#diff-4b823c212caa561f9ac49a3a0c4f8a04494869fd234e4475f71241dd1b8ff183L94-R101

[2022-07-08 23:03] tilo commented on #197
very bizarre ... which Ruby version are you using?

[code]
so one header and 278 rows of data

**Version 1.6.1**

[code]

**Version 1.7.0**

[code]

and the output is identical for me:

[code]

@alextakitani what Ruby version are you using, and what does `uname -a` say?

[2022-07-09 22:16] tilo commented on #197
@alextakitani @mo-rubikal @theRealNG  Still can not reproduce this.
What OS are you guys using? can you send me the `uname -a` output, the Ruby version, and maybe another sample file?

[2022-07-11 14:59] iSimar opened #200 "SmarterCSV doesn't parse the second line of StringIO"
## Define a sample CSV based StringIO
[code]

## Invoke SmarterCSV.process
[code]

## Expected output
[code]

[2022-07-11 23:41] hut8 commented on #197
I am getting the same results as https://github.com/tilo/smarter_csv/issues/197#issuecomment-1176450925.
Ruby 3.1.2.
smarter_csv 1.6.1 works great
1.7 only reads the first row and returns that as a hash, instead of an array of records

[2022-07-11 23:46] hut8 commented on #200
Probably the same as #197

[2022-07-11 23:57] fernandoshiro commented on #197
I'm having the same problem here.
Changing to v 1.6.1 also fixed it for me.

Ruby 3.0.3

[2022-07-13 01:50] 9mm commented on #197
I'm getting the same thing... a csv library that parses a single row. Super useful... 🤔

`ruby 3.1.2p20 (2022-04-12 revision 4491bb740a) [x86_64-darwin19]`

`Rails 7.0.3.1`

I'm using OSX 10.15.7 (19H1922)

[code]

The sample CSV doesnt matter, it doesnt work with any CSV with headers, comma delimited

[2022-07-13 01:53] 9mm commented on #197
Darwin BigWeiner.local 19.6.0 Darwin Kernel Version 19.6.0: Mon Apr 18 21:50:40 PDT 2022; root:xnu-6153.141.62~1/RELEASE_X86_64 x86_6

[2022-07-13 06:05] mischasteiner73 commented on #197
I am having the same problem.

ruby 3.0.3
rails 7.03.
mac os: Big Sur 11.6.

[2022-07-17 18:37] tilo commented on #200
@iSimar what operating system are you using? Windows? Mac? Linux?

[2022-07-19 03:29] rabinshrestha commented on #197
This config fixed issue for me

`      remove_empty_values: false,
`

[2022-07-25 13:39] gaudro-s commented on #197
I am having the same problem.

ruby 2.7.3
rails 6.0.3.2
20.04.1-Ubuntu

[2022-07-26 00:13] ernestoe commented on #195
@tilo is this on the right track? Do you consider it properly identified?

[2022-07-26 22:41] iSimar commented on #200
@hut8 Yes it worked with 1.6.1
@tilo Mac

[2022-07-28 04:20] tilo commented on #200
@iSimar something is very odd 🤔

When I try this on my M1 MacBook, it works:

[code]

I'll try to find an x86 macbook to reproduce

[2022-07-28 05:57] tilo commented on #200
OK, so on an x86 MacBook with version 1.7.0 it also reads the CSV correctly for me 🤔

[code]

[2022-07-28 12:40] matiasalbarello commented on #197
Same issue here.
ruby 2.7.1p83 (2020-03-31 revision a0c7c23c9c) [x86_64-linux]
Adding `remove_empty_values: false` fix it.

[2022-07-28 23:08] n-rodriguez commented on #195
You should not return while you're in a loop :

https://github.com/tilo/smarter_csv/blob/8c35567247074837169d7a8aef4e913e10492d1d/lib/smarter_csv.rb#L59
https://github.com/tilo/smarter_csv/blob/8c35567247074837169d7a8aef4e913e10492d1d/lib/smarter_csv.rb#L100

The previous version of this code was better :

https://github.com/tilo/smarter_csv/blob/v1.6.1/lib/smarter_csv/smarter_csv.rb#L94

or the p

[2022-07-31 16:25] tilo commented on #195
@n-rodriguez thank you for pointing this out!

Will release 1.7.1 today

[2022-07-31 18:40] n-rodriguez commented on #195
@tilo thank you!

[2022-07-31 20:27] tilo commented on #195
@n-rodriguez @ernestoe @KXEinc Thank you for your input on this!

Sorry for introducing this in 1.7.0

hat can I say?
I've been indoctrinated by Rubocop with having to use guard clauses - that I put one in place where it didn't belong 🤦‍♂️

What was really weird for this bug is that on OSX M1 architecture this ran all the tests successfully 😮 When I ran it on an old OSX X86 architecture, there wer

[2022-07-31 20:32] tilo commented on #195
Bugfix release 1.7.1 was just published

Please re-evaluate and update this issue if this fixes the problem

[2022-07-31 20:32] tilo commented on #200
Bugfix release 1.7.1 was just published

Please re-evaluate and update this issue if this fixes the problem

[2022-07-31 20:32] tilo commented on #197
Bugfix release 1.7.1 was just published

Please re-evaluate and update this issue if this fixes the problem

[2022-07-31 20:35] n-rodriguez commented on #195
@tilo it works! thank you!

[2022-07-31 20:49] tilo commented on #195
Thank you all for your patience!

I'll work on adding a Rails related test

[2022-07-31 20:49] #195 closed

[2022-07-31 20:50] tilo commented on #197
TL;DR: the issue only showed up when `smarter_csv` was used in a Rails project.

the issue is fixed in 1.7.1

[2022-07-31 20:50] #197 closed

[2022-07-31 20:50] tilo commented on #200
TL;DR: the issue only showed up when `smarter_csv` was used in a Rails project.

the issue is fixed in 1.7.1

[2022-07-31 20:50] #200 closed

[2022-07-31 21:41] hut8 commented on #200
@tilo thanks so much with your hard work debugging. It is much appreciated and does not go unnoticed 😄

[2022-07-31 22:37] tilo commented on #200
🙇 🙇 🙇

[2022-08-01 09:45] matiasalbarello commented on #197
@tilo thanks for the fix. Next time, if possible, please don't remove a gem version because of a bug. I would have to remove all my work if I had to remove buggy versions 😂

[2022-08-01 19:51] tilo commented on #197
LOL - good point @matiasalbarello 😂

In this instance, the 1.7.0 version was broken for everybody who is using it from Rails, and I just wanted to make sure people don't run into this issue anymore, hopefully saving them time &  frustration

[2022-08-12 05:20] tilo commented on #186
@resistorsoftware can try to use this value for file_encoding: `b:utf-8`

[2022-08-16 01:26] #59 closed

[2022-08-16 01:27] #123 closed

[2022-08-29 14:02] tilo commented on #130
@ryanwjackson @KevinColemanInc line numbers are now available in 1.7.2

new option `:with_line_numbers` will add `:csv_line_number` to each data hash

[2022-08-29 14:02] #130 closed

[2022-09-10 16:11] tilo commented on #142
https://github.com/tilo/smarter_csv/blob/579c0715e57f12c913f820ac2ae117e71b4f196d/lib/smarter_csv/smarter_csv.rb#L35

[2022-09-10 16:56] tilo commented on #142
@mohanwitz can you try this:

[code]

[2022-11-29 16:44] YassineDM opened #213 "Replace `remove_empty_values: false` in `2.0.0.pre2`"
Hi there,

I'm trying to switch to v2 with its new options but I'm not sure how to proceed.

Previously, I was just setting `remove_empty_values: false`. Now I see that it may have been replaced with `hash_transformations: [:remove_blank_values ]`. But even setting that to an empty array doesn't give the same result...

Anyone could help?